#map {
    width: 100%;
    height: 700px;
}

.popup {
    font-size: 1.1rem;
    width: 300px;
}

.info {
    display: flex;
    overflow: hidden;
    word-break: break-word;
}

.name-title {
    color: #9a3324;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
}

.name-content {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    overflow: hidden;
}